[Desktop Entry]
Name=Browser
Icon=general_web
Type=Application
Categories=Network;WebBrowser;
Exec=jib %U
Terminal=false
StartupNotify=false
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;
