Source: jib
Section: x11
Priority: extra
Maintainer: Sander <sander@kroket.io>
Build-Depends: debhelper (>= 10),
    qtbase5-dev,
    ccache,
    cmake,
    libx11-dev,
    zlib1g-dev,
    libpng-dev,
    libssl-dev,
    libqt5svg5-dev,
    libqt5maemo5-dev,
    libqt5x11extras5-dev,
    libqt5charts5-dev,
    qtmultimedia5-dev,
    libqt5network5,
    qtwebengine5-dev,
    libqt5sql5-sqlite
Homepage: https://github.com/maemo-leste-extras/jib
XSBC-Bugtracker: https://github.com/maemo-leste-extras/jib/issues
Vcs-Git: https://github.com/maemo-leste-extras/jib/
Vcs-Browser: https://github.com/maemo-leste-extras/jib/


Package: jib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
    libssl1.1,
    libqt5network5,
    libqt5charts5,
    libqt5webengine5,
    libqt5sql5-sqlite
Description: A simple Qt/Chromium based web-browser for Maemo Leste
XB-Maemo-Display-Name: Jib
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAIG0lEQVRo3u2a
 C1BU1x3GnW5ruuqURKwKCktYXECJIBgBiQ9eK6/lsUvERchCECmUUXmJiAIq
 sPIyoKBZSYRY6USlGvGFZgS0GhEXVEKszqRlaoutNTGGxmgznXw952avWdjX
 XSAxnZGZ39zdu+ec+33/8z/nnnsu4wCM+39m3HMDzw2MsYHR/kWr4EpYQijU
 Yi09F1bxD+Fo2/8hDPC2d3u/WdIV2rJ874NBIhSGiG/oRXGX9Ivya977lVe9
 pLTuMzOQ88E8y9IrXiUVNxYOVvX5gLK1U4GYdwYNit/eEwC2LIXUvVP8kedq
 c4yMhQFe3in3OG3h2ugzEVXzJTa1J0JfeYpSvezOmsPxwT+GAf7WiwuaDQkx
 ZCKi6t5TA8VXwnV6giXvbGilqd4YsQFxmo2A5PonpsQPMVH/UMeAov4AYmpO
 GzRR1PHqURqoMTVAxZd2ed3iKp4lTnVcx0DRxRhEKLuYo6F6xkyMxAB/87n5
 LYYultJUg5W7/8CISmrcO+Q3Gmnp7v8wBrSjbkw8y4YT7nXk2uNHa4CX2exW
 xjXi6z7YzKRI+mElYyZ0ax/TA9LarxG67abJyA8ncadT3PAxYZYBkjpLDM02
 hqCRpsIp4ZV3v5+Jdn2F7JPZZqVgWY/3AJExc6QGLIyljrGUotMmFaw9lUbu
 +IzpGYN5T3qG/s7CmiX3G5V2KnE2sDTBWmyueLYHhotnDFQ/YHrFUC/Q9GJ7
 jkK/bzibhpxT6YNEjshcA5YbT3s0mSOcDlAm70muG1pKhJf/nRnw+uqHFd9m
 BjsL/R64uRee2ddgF6UqZHuBqwEhzT+uKTMkcuTixtZDhgxIlH95WiasFvAp
 fQTX9f14JfMWZqdebmfHAhcDPN8UPzkX8XRuZ4STqFMBNE2MiafQFNPXe7R+
 0E5gUQWwsOIh0tsDkNdtxZDd6UiFuXA1YJHa4FI4NMrViCjtGpK/9KKyyg5I
 tv8V0W9/y5nQLR8zqZZ+SPkU2a5GzMu5jQWl3+qIZ/HN8aCLPj4XA1Z05LNC
 i69IEFLUi5Atfcwx60TWd6YOVDPnpHXfQLbnv5yRkHFA2wkquAHJjv14fV8m
 ouozIGvMR8zBCiLeX0c8JVY1mY4DSy4GRIXnxWrtHlhR28YIlSj7EVt7iDlH
 jxE7PmfOm0Nk7TfwVQ5ColLpFWqIVYem0OnUipMBskYfYqDsuhhxDX1kenyM
 2F0HvzNAjvQ7VyQ1j7FY+RgeRV/DbeO/sLZj7kgMiLgYcE16N189fKAVd0WQ
 GeZzRJaeQf45BXOMrHlkkpCqR1hU8hXmFXzP7PRes8Sba8DDL/OcOrG+Vme2
 CC66iWX5aog3djHHiLf+bZCg8kF4FX0Jt026OKd2/6AGXDwV+1rFGzqRsHcX
 KolwyrbOMASRG4uk7B5Ctn6KsO13EV71UAf/ki/gWfAArnmGcUohd1m1lVmY
 Y0Dkk3a6KajgEwTmfgSFqgblvT4MmcdzIal4gKi37iDrdAHyO36D9CN1zDnf
 bZ/BPe8+5uaaxjH5MtZ3WZmFT/IkOgsJuBgQigJyCsPK7mMZiXhgzh/xxp5q
 lF17jSHzZAE2X4hnPit7FqLg6hzEHUrDK9n/5Iwo6RLSzs5F9mVrzkwV/ULK
 dRayIkiDS+8hVHkP4vzrCMi6gPi6apR2L2IoUS/Epk4XZF6yQcbFGTokHJXA
 LfcWXDIH9CJa1YkFOdVIb3PQW384Sc3T7hNNS+hNlouBSQRvr5QT/aEld0ER
 5/XAP7MDOWekWH/JCWvOzzCJbF88Zq/px5x1d3RwTvsT7OUnMWf1e/BXZkC6
 N9poW37ZL7bSyYUu6Lgu5lyFfutVIdvIXZPgV/A3uCa3kYjN5ExKq4hE+ipj
 Qh+OyT2MCfsVLZifUWW0rZnuL+QRTc7mrEYFBLnX2p5Bt3V/htNvP4X9yg8R
 974XUj+04Ywwro2pawxR8g24r60w2Iak/Ne36MMhYao5BuiOgIeFk6zJKfU2
 KMKVbXCIbYK8yZtE15YT9vIzYOsbJeEdvNniqLeNabPH070iV/bZ2JxHSvoU
 JLeNfL9ftPomiVQf7JYfh3DFfsT8zgurTtqaxC7mFJi6JhDIjsBWelin/uKM
 yWqiIUz7udgcA0wv/Hzi9EqHhKtPZq36GLOSbkAQfQz2yxuR2CIwieD1E2Dq
 mUCouALbqOYhdaN2O9CZJ107+iPZVqHOxRNmvtYkfKPziUPidTgk9MA2shmK
 o3YmEciOganDAVqWrSerFw1OsOTtpLMhXUKPdmOLjn75BGvvZvu4S0+Eim4S
 rSOIa7YzCS1Hy3OBbTO6wfGJtTu/STNwBWOxM8fTdKOcb+3VbCe/8MQmvBny
 gy8bRVwRDFrOPr6LE7RseJ3Nff5LPJVGvLO+jd6Rbu7yWRM8/pSGaUurBmJ+
 bw9DyBqdMStWCZvIY3h55WVOTPHM6/3ZCy8aFT/a7fXxmobpBSodxL9qlewR
 DEYfsIc2i7dEwiasDtbidyFY3g67FReNYh18YGCiQNxC2izULBdExrbYR/t+
 gKfJSzq46EP2TufIl9qXFszol74nBOXVLAWsljXAJqqVGDhvkOn+b/dPtA2k
 wulgVWiWClY/1iumSZptDtZI5S8teA32ARatdmIf9XR/1YBVYMMQpvnu7p88
 P1c9yUFK1zU0VSo1wr01Uec/i5d8lpq08tDccFZrUqFSI1KbEkKeRrRYU0ek
 CcYzfUvJDvKpGkGuGnH6oL0m1JQd/1N5zWoszVj4Y9Xo8381eG5gjPkfoyLV
 5VhKCEcAAAAASUVORK5CYII=
